@import "../styles/variables.scss";

.githubbutton {
  display:block;
  position: absolute;
  top:$strokes;
  right:$strokes;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpointTwo) {
    width:98%;
    margin:1%;
    top:0px;
    right:0px;
  }
}

.githubmark {
  height:12px;
  width:12px;
  position:relative;
  top:1px;
  margin-left:3px;
}
