@import "../styles/variables.scss";

.image {
  width:6em;
  height:auto;
  display:block;
}

.heading {
  font-size:9pt;
  font-weight:300;
  position: relative;
  margin-top:0.5em;
  color:$eben-blue;
}
